*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lg {
    width: 55px;
    height: 55px;
}

.cabecalho {
    background-color: #ED1B2E;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.List-menu{
    list-style: none;
    display: flex;
}
.List-menu li {
    margin: 0 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.card{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px ;
    margin: 15px 15px 15px 30px;
    justify-content: space-around;
    background-color: rgb(224, 212, 212);
}
.texto-card{
    text-align: center;
}
iframe{
    width:100%;
    height: 100%;
    padding: 95px;

}
footer{
    background-color: #ED1B2E;
    text-align: center;
    padding: 95px;
}
