@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lg {
    width: 55px;
    height: 55px;
}
.banner{
    font-family: 'Poppins';
    text-align: center;
    color: #000000;
}
.cabecalho {
    background-color: #ece087;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
}

.List-menu{
    list-style: none;
    display: flex;
}
.List-menu li {
    margin: 0 30px;
    color: rgb(10, 10, 10);
    text-transform: uppercase;
    font-weight: bold;
}
.img-cidade{
    width: 100%;
    height: 532px;   
}
main h2 {
    font-family: 'Poppins';
    text-align: center;
    margin-top: 104px;
    color: #000000;

}
iframe{
    width:100%;
    height: 600px;
    padding: 95px;

}


.card-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px ;
    margin: 15px 15px 15px 30px;
    justify-content: space-around;
    background-color: rgb(234, 231, 231);

}

.texto-card {

    width: 280px;
    height: 450px;
    background: #dbd07a;
    border-radius: 20px;
    display: flex;
    position: relative;
    margin: 10px;
    align-items: center;
}

.texto-card p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    font-style: normal;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}
footer{

    background-color: #ece087;
    text-align: center;
    padding: 95px;
}
.rodape {
    align-items: center;
    display: flex;
    justify-content: center;
}

.linkedin {
    flex-direction: column;
    display: flex;
    text-align: center;
    
}

.github {
    flex-direction: column;
    display: flex;
    text-align: center;
}

.img-linkedin{
    width: 30px;
    height: 30px;
}
.img-git{
    width: 30px;
    height: 30px;
}